body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/login-bgc.jpg');
}

.member{
    position: absolute;
    top: 80px;
}

.container,
.home-container {
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    background: transparent;
   
}

.form-container {
    
    display: none;
    flex-direction: column;
    gap: 10px;
}
.form-container input{
    background: transparent;
    
}

.form-container h2 {
    margin: 0;
}

.form-container input {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-password {
    background-color: #ddd;
    border: none;
    padding: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.form-container p {
    margin: 0;
}

.form-container span {
    color: blue;
    cursor: pointer;
}

.home-container {
    display: none;
    text-align: center;
}

/* #logoutBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
} */

/* back to home */

.back-home {
    position: absolute;
    bottom: 50px;

}

.back-home a {
    text-decoration: none;
    color: #0e41e6;
    font-size: 20px;
}

.back-home a:hover {
    color: #000;
    transition: 0.3s;

}





