body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* logo */
#header img{
    width: 50px;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #d7c0bd;
    transition: 0.5s;
}

#header h1 {
    font-size: 40px;
    color: #d7c0bd;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.review-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
}

.review-card h2 {
    margin-top: 0;
}

.rating {
    color: #ff6347;
    margin: 10px 0;
}

.review-card p {
    color: #333;
}


/* footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1000px;
    margin: auto;
  }
  
  .footer-content h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
  }
  
  .footer-content p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .footer-content .socials {
    list-style: none;
    padding: 0;
  }
  
  .footer-content .socials li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-content .socials li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
  }
  
  .footer-bottom {
    padding: 10px 0;
    background: #222;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 1em;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
  }